# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.calendar.iml
# Datasource local storage ignored files
/../../../../../../../:\projects\test-works\calendar\.idea\.idea.calendar.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
